# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# VS Code settings
.vscode/

# Environment variables / secrets
.env

# Operating system files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/